.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  background-color: #a7d6ed;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

.footer p {
  font-size: 22px;
  color: #fff;
}

.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0 1rem;
}

.footerInfo p {
  font-size: 1.5rem;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

.navbar ul li {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footerInfo {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar ul {
    gap: 2rem;
  }

  .navbar ul li {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .footer a {
    font-size: 1.5rem;
  }
  .footer p {
    font-size: 18px;
  }

  .footerInfo p {
    font-size: 1.2rem;
  }
}
