.container {
  background-image: url('../../public/Main-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* CARDS DAS CATEGORIAS */
.beautyContainer {
  display: flex;
}

.imgContent {
  background-color: rosybrown;
}

.beautyContent {
  background-color: rgba(165, 161, 161, 0.842);
  width: 60%;
  height: 71vh;
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
}

.beautyContent h2 {
  font-size: 2.5rem;
}
.beautyContent p {
  display: flex;
  margin-top: 8.75;
  font-style: italic;
  font-size: 1.5rem;
}

.beautyCards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

.textBeauty {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-weight: normal; 
}

@media (max-width: 768px) {
  /* RESPONSIVIDADE DA IMAGEM DA HEADER */
  .container {
    height: 55vh;
  }

  .imgContent {
    width: 100%;
    height: 50vh;
  }
  
  .beautyContainer {
    display: flex;
    flex-direction: column;
  }

  .beautyContent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .beautyCards {
    display: flex;
   flex-direction: column;
  }
}

@media (max-width: 480px) {
  /* RESPONSIVIDADE DA IMAGEM DA HEADER */
  .container {
    height: 30vh;
  }
}